extends layout

block content
  h1= title
  .ui.green.button#create
    |   Create Post
  br
  br
  .ui.green.button#create2
    |   Create Post 2
  br
  br
  .ui.green.button#create3
    |   Create Post 3
  br
  br
  .ui.green.button#create4
    |   Create Post 4
  br
  br
  .ui.blue.button#read
    |   Read Post
  br
  br
  .ui.blue.button#read2
    |   Read Post 2
  br
  br
  .ui.blue.button#read3
    |   Read Post 3
  br
  br
  .ui.blue.button#read4
    |   Read Post 4
  br
  br
  .ui.orange.button#update
    |   Update Post
  br
  br
  .ui.orange.button#update2
    |   Update Post 2
  br
  br
  .ui.orange.button#update3
    |   Update Post 3
  br
  br
  .ui.orange.button#update4
    |   Update Post 4
  br
  br
  .ui.red.button#destroy
    |   Destroy Post
  br
  br
  .ui.red.button#destroy2
    |   Destroy Post 2
  br
  br
  .ui.red.button#destroy3
    |   Destroy Post 3
  br
  br
  .ui.red.button#destroy4
    |   Destroy Post 4